body {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.disabled {
  pointer-events: none;
  background: gray;
}

.form {
  display: none;
}
